*{
	margin: 0;
	padding: 0;
}
header{ /*flexbox setup for the header -Riley*/
	background-color: #23488D;
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	z-index: 2;
}
header a, header p{ /*Affects the text for the links in the header, added to reduce clutter in the style elements.
	I was originally doing this with a class but I remembered reading that the syntax "EXParent EXElement{}" 
	lets you effect every "EXElement" contained by EXParent. I used this to clean up the HTML -Riley*/
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
}
footer a{
	color: white;
	text-decoration: none;
	text-align: center;
}
footer{ 
	padding: 1%;
	background-color: #23488D;
	color: white;
	text-align: center;
}
.menuTable{
	width: 100%;
}
.menuTable td{
	width: 50%;
	padding: 1.5%;
	background-color: white;
	border: 1px solid #d9d9d9;
}
.tableCell{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;
}
.nutritionFactsBtn{
	width: 100%;
	padding: 1.5%;
	background-color: #23488D;
	color: white;
}
.nutritionFactsBtn:hover{
	background-color: #1c3b75;
}
.contents{
	display: inline-flex;
	flex-direction: column;
	flex:1;
	padding: 1%;
}