/*METZ WEBSITE*/
*{
	margin: 0;
	padding: 0;
}

#myTitle {
	font-size: 25px;
}

/*
header{ /*flexbox setup for the header-Riley*/
	background-color: #23488D;
<<<<<<< HEAD:css/styles.css
	color: white;
	margin-top: 0px ;
	margin-bottom: 0px ;
	margin-left: 0px ;
	margin-right: 0px ;
}
*/

div.footerEND{
	color: white ;
	text-decoration: none;
=======
	display: flex;
	align-items: center;
	padding: .5%;
	position: sticky;
	top: 0;
	
}

header a{ /*Affects the text for the links in the header, added to reduce clutter in the style elements.
	I was originally doing this with a class but I remembered reading that the syntax "EXParent EXElement{}" lets you effect every "EXElement" contained by EXParent-Riley*/
	font-size:  20px;
	text-align: center;
	text-decoration: none;
	color: white;
>>>>>>> 87eae1a9a678c5e7e50869308d693ed193212b5a:Metz Code/css/styles.css
}

footer a{ /*Same as above-Riley*/
	color: black;
	text-decoration: none;
	text-align: center;
}
h5 {
	/*font-size: 15px;*/
	font-weight: normal;
}
/*
div.headerPart2{
	text-align: right;
	text-align: top;
	margin-right:50px ;
}
*/


<<<<<<< HEAD:css/styles.css
div.text1{
	margin-top: 50px;
=======
/*div.text1{
	margin-top: 150px;
	
>>>>>>> 87eae1a9a678c5e7e50869308d693ed193212b5a:Metz Code/css/styles.css
	margin-right: 50px;
	margin-left: 50px;
}


body{
	background-color:white;
}

footer{
	color: white ;
	text-align: center;
	background-color: #23488D;
	padding: 1%;
}

/*
div.middlePart{
	margin-left:50px ;
}
*/

/*
div.albumImg{
	margin-right: 17px;
	margin-left: 17px;
}
*/


/*
div.email{
	margin-left: 30px;
}
*/

<<<<<<< HEAD:css/styles.css
=======
footer{ 
	padding: 1%;
	background-color: #23488D;
	color: black;
	text-align: center;
}
>>>>>>> 87eae1a9a678c5e7e50869308d693ed193212b5a:Metz Code/css/styles.css

legend {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 2%;
	background-color: #d9d9d9;
}
fieldset {
	border-radius: 10px;
}
.formLabel {
	width: 30%;
	float: left;
}
.submit {
	width: 50%;
	margin-left: 25%;
	border-radius: 10px;
	padding: 1%;
}
input {
	width: 60%;
	margin: 1%;
}
input>text:hover {
	cursor: text;
}
select:hover {
	cursor: pointer;
} 
input>submit:hover	{
	cursor: pointer;
}

